<!-- <article style="border: solid blue">
<h1>Hello <%= val.first_name + " " +  val.last_name %></h1>

        <p><b>Email :</b> <%= val.email %></p>
        <p><b>Course :</b> <%= val.major %></p>
        <p><b>Ratings :</b> <%= val.Ratings %></p>
        <p><b>Enrolment Date :</b> <%= val.enrollment_date %></p>
        <p><b>Graduation Date :</b> <%= val.graduation_date %></p>
        <p><b>Advisor :</b> <%= val.advisor %></p>
</article>  -->

<tr>
  <td><%= val.student_id %></td>
  <td><%= val.first_name %></td>
  <td><%= val.last_name %></td>
  <td><%= val.age %></td>
  <td><%= val.email %></td>
  <td><%= val.major %></td>
  <td><%= val.Ratings %></td>
  <td><%= val.enrollment_date %></td>
  <td><%= val.graduation_date %></td>
  <td><%= val.advisor %></td>
</tr>
