<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!-- 
  <h1>Hello I am from <%= page %> file</h1>
  <hr>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde nemo recusandae non a reiciendis, dolorum deleniti eum tenetur cum, esse totam quis error? Enim corporis obcaecati facere vero vel voluptatem?</p> -->

  <!-- ! ==== Data Types ====  -->
  <!-- ? Strings, Numbers, Boolean -->
  <p><b>Page : </b> <%= page  %> </p>
  <p><b>PageInfo : </b> <%= pageInfo  %> </p>
  <p><b>PageInfo2 : </b> <%= pageInfo2  %> </p>
  <p><b>PageInfo3 : </b> <%- pageInfo2  %> </p>
  <p><b>Name : </b> <%= userName  %> </p>
  <p><b>userEmail : </b> <%= userEmail  %> </p>
  <p><b>userNo : </b> <%= userNo  %> </p>
  <p><b>isNodeStudent : </b> <%= isNodeStudent  %> </p>

  <!-- ? Arrays -->
  <p><b>Students :</b> <%= students %></p>
  <p><b>Students :</b> <%= students.join(" , ") %></p>
  <p><b>Students :</b> <%= students.join(" _ ") %></p>

  <!-- ? Objects -->
  <p><b>Trainer Name : </b> <%= trainer.trainerName %> </p>
  <p><b>Trainer Email : </b> <%= trainer.trainerEmail %> </p>
  <p><b>Subjects : </b> <%= trainer.subjects %> </p>
  <p><b>Subjects : </b> <%= trainer.subjects.join(" , ") %> </p>

  <!-- ? Undefined, null, bigint -->
  <p><b>isMarried : </b> <%= isMarried %> </p> <!-- It will not display anything -->
  <p><b>mockRatings : </b> <%= mockRatings %> </p> <!-- It will not display anything -->
  <p><b>salary : </b> <%= salary %> </p>

  <!-- ! ==== Conditional Statements ==== -->
  <!-- ? if condition -->
  <% if (isPlaced) { %>
  <p>Pranchi got Placed</p>
  <% } %>

  <!-- ? if else condition -->
  <% if (isPlaced) { %>
  <p><%= userName %> Got Placed</p>
  <% } else { %>
  <p><%= userName %> Not Placed Yet</p>
  <% } %>

  <!-- ? if elseif else condition -->
  <% if (course == "JFS") { %>
  <p> <b>Course is : </b> <%= course %> </p>
  <% } else if (course == "PFS") { %>
  <p> <b>Course is : </b> <%= course %> </p>
  <% } else if (course == "MERN") { %>
  <p> <b>Course is : </b> <%= course %> </p>
  <% } else { %>
  <p> <b>Course is : </b> you have to between JFS / PFS / MERN </p>
  <% } %>

  <!-- Example 2 -->
  <% if (course == "JFS") { %>
  <p> <b>Course is : </b> Java Full Stack </p>
  <% } else if (course == "PFS") { %>
  <p> <b>Course is : </b> Python FUll Stack </p>
  <% } else if (course == "MERN") { %>
  <p> <b>Course is : </b>MERN Full Stack </p>
  <% } else { %>
  <p> <b>Course is : </b> you have to between JFS / PFS / MERN </p>
  <% } %>

  <!-- Example 3 -->
  <p> <b>Course is : </b>

    <% if (course == "JFS") { %>
    Java Full Stack
    <% } else if (course == "PFS") { %>
    Python FUll Stack
    <% } else if (course == "MERN") { %>
    MERN Full Stack
    <% } else { %>
    you have to between JFS / PFS / MERN
    <% } %>

  </p>

  <!-- ? switch case condition -->
  <% switch (course) {
  case "JFS": %>
  <p>Hello Student You opted for Java Full Stack Course</p>
  <% break;
  case "PFS":  %>
  <p>Hello Student You opted for Python Full Stack Course</p>
  <% break;
  case "MERN": %>
  <p>Hello Student You opted for MERN Full Stack Course</p>
  <% break;
  case "DS": %>
  <p>Hello Student You opted for Data Science Course</p>
  <% break;
  case "DA": %>
  <p>Hello Student You opted for Data Analytics Course</p>
  <% break;
  default: %>
  <p>Hello Student You have opt for any course</p>
  <% } %>

  <!-- ? ternary operator -->
  <p><b>isPlaced : </b> <%= isPlaced ? "YES" : "NO"  %></p>

  <%# Any JavaScipt Commented  %>


  <!-- ! Declaring variables -->
  <% 
    let a = 10;
    let b = 20;
    let c = 30;

    function greet(name){
      return `Hello ${name}`
    }
  %>

  <p>a : <%= a %></p>
  <p>b : <%= b %></p>
  <p>c : <%= c %></p>
  <p>Greet Manav : <%= greet("Late Commer Manav") %></p>
  <p>Greet Rahul : <%= greet("Rahul") %></p>

  <!-- ! Looping  -->
  <hr>
  <h1>Looping Statements</h1>
  <!-- ? While Loop  -->
  <h2>While Loop</h2>
  <!--~ Example 1 -->
  <% 
  let i = 1;
  while(i<=10){  %>
  <p> I am new Line <%= i %> </p>
  <% 
  i++}%>

  <!--~ Example 2 -->
  <% 
  let j = 0;
  while(j< students.length){ %>

  <p>Studet Name : <%= students[j] %></p>

  <%  j++;
  } %>

  <!-- ? For Loop  -->
  <h2>For Loop</h2>
  <% for (let index = 0; index < students.length; index++) {
    let name = students[index]; %>

  <p>Student Name : <%= name %></p>

  <% } %>

  <!-- ? For in Loop  -->
  <h2>For In Loop</h2>
  <% for(let index in students){ %>

  <p> <b>Student ID: </b> qsp00<%= index %> , <b>Student Name : </b> <%= students[index] %> </p>

  <% }%>

  <!-- ? For of Loop  -->
  <h2>For Of Loop</h2>
  <% for(let value of students){ %>

  <p> <b>Student Name : </b> <%= value %> </p>
  <p> <%= greet(value) %> </p>

  <% }%>

  <!-- ? ForEach Loop  -->
  <h2>forEach Loop</h2>
  <% trainer.subjects.forEach(element => { %>
  <p> Subject Name : <%= element %> </p>
  <% });%>

  <!-- ? map method  -->
  <h2>Map method</h2>
  <% trainer.subjects.map(val => { %>
  <p> Subject Name : <%= val %> </p>
  <% }) %>

  <!-- ? Filter Method -->
  <h2>Filter Method</h2>
  <% students.filter(val => val.length > 4)  %>
  <%= students.filter(val => val.length > 4)  %>
  <% students.filter(val => val.length > 4).map(val => { %>
  <p> Subject Name : <%= val %> </p>
  <% })  %>

</body>

</html>